*,
html,
body{
    margin: 0;
    padding: 0;

}

/* Background START */
.background{
    background-image: url('../img/background/background.png');

}
/* Background END */



    /* Navbar START */
        nav{
            width: 100%;
        }

        nav .container{
            padding: 10px;
        }

        nav .container ul{
            display: flex;
            justify-content: center;
        }nav .container .text-background{
            background-color: rgb(137,98,79);
        }

        nav .container ul li{
            list-style-type: none;
        }

        nav .container ul li a{
            color: rgb(34, 190, 34);
            text-decoration: none;

            padding-top: 10px;
            padding-bottom: 10px;
            margin: 20px;

            font-family: "Protest Guerrilla";
        }

        nav .container ul li .judul img{
            min-width: 100px;
            max-width: 300px;

            
        }
    /* Navbar END */





    /* Hero START */
    .hero{
        min-width: 100px;
        /* max-width: 350px; */
        max-width: 600px;
        background-color:rgba(137, 98, 79, 0.76);

        font-family: poppins;
        border-radius: 10px;
        border-top: 4px dashed rgb(34, 190, 34);
    }

    .hero .container{
        padding: 10px;
    }

    .hero .container h2{
        color: rgb(34, 190, 34);

        text-align: left;
    }

    .hero .container .flex{
        display: flex;
        justify-content: center;

        flex-wrap: wrap;
    }

    .hero .container .flex ul img{
        min-width: 100px;
        max-width: 200px;

        min-height: 100px;
        max-height: 200px;

        object-fit: cover;
    }


        /* TEXT START */
        .hero .container .flex ul{
            color: white;
        }
        
        .hero .container .flex ul p{
            font-size: 13.5px;

            text-align: left;
        }
        /* TEXT END */


    /* Hero END */